language: android
android:
  components:
    - tools
    - platform-tools
    - build-tools-23.0.2
    - android-23
    - extra-android-m2repository
before_install:
 - chmod +x gradlew
script: 
 - ./gradlew clean build
env:
 - GRADLE_OPTS="-Xmx512m -XX:MaxPermSize=512m"